@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-black-primary: #000;
  --color-background-primary: hsl(0 0% 100%);
  --color-text-primary: hsl(240 5.9% 98%);

  --color-b-light: hsl(240 5.9% 90%);
}

/* Parisian Night - 323441
⚫️ Cool Black - 151922
⚫️ Crow - 0D0907
⚫️ Black Chestnut - 252321
⚫️ Basalt Black - 4D423E */

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: none; */
  }

  *:focus {
    outline: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  .common-padding {
    @apply px-6 py-8 md:py-10;
  }

  .flex-between {
    @apply flex justify-between;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-column {
    @apply flex flex-col;
  }

  .text-base {
    @apply text-[1.1rem];
  }

  .heading-primary {
    @apply text-[2rem] md:text-[44px] font-normal mb-4 leading-[1.3];
  }

  .description-primary {
    @apply text-[1rem] md:text-[1.2rem];
  }

  .chat-response {
    @apply text-[1.3rem] md:text-[1.5rem] font-medium text-gray-800 dark:text-gray-200;
  }

  .grid-2-cols {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
  }

  .cta-btn {
    @apply items-center justify-center gap-2 px-6 py-2 overflow-hidden transition-colors duration-300;
  }

  .tag {
    @apply inline-block px-3 bg-black-primary text-white;
  }

  .grid-background {
    background:
      linear-gradient(135deg, #0f0f0f 0%, #1a1a1a 100%),
      linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size:
      cover,
      20px 20px,
      20px 20px;
  }

  .nav-mobile-links {
    @apply flex justify-center items-center gap-8 md:gap-12;
  }

  @keyframes paths {
    0% {
      clip-path: polygon(
        0px 29%,
        44% 29%,
        44% 83%,
        94% 83%,
        94% 56%,
        11% 56%,
        11% 64%,
        94% 64%,
        94% 70%,
        88% 70%,
        88% 32%,
        18% 32%,
        18% 96%,
        10% 96%,
        10% 62%,
        9% 62%,
        9% 84%,
        68% 84%,
        68% 50%,
        52% 50%,
        52% 55%,
        35% 55%,
        35% 87%,
        25% 87%,
        25% 39%,
        15% 39%,
        15% 29%,
        52% 29%,
        52% 88%
      );
    }
    100% {
      clip-path: polygon(
        0px 29%,
        44% 29%,
        44% 83%,
        94% 83%,
        94% 56%,
        11% 56%,
        11% 64%,
        94% 64%,
        94% 70%,
        88% 70%,
        88% 32%,
        18% 32%,
        18% 96%,
        10% 96%,
        10% 62%,
        9% 62%,
        9% 84%,
        68% 84%,
        68% 50%,
        52% 50%,
        52% 55%,
        35% 55%,
        35% 87%,
        25% 87%,
        25% 39%,
        15% 39%,
        15% 29%,
        52% 29%,
        52% 88%
      );
    }
  }

  .glitch {
    animation: paths 5s step-end infinite;
    /* display: inline-block; */
  }
}

/* 
display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover; */
